* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Varela Round", sans-serif;
  background-image: url("./images/binding_light.png");
}
/* 

@media screen and (max-width: 750px) {

  .todo-container > * {
    font-size: 0.8rem;
  }

  .todo-container > h1 {
    font-size: 1.2rem;
  }
} */
